/* Optimized for 360 * 640 */

#info .info_first,
#info .info_second {
  font-size: 14px;
}

#slider #return_button {
  top: 2vh;
  left: 4vw;
}

#gallery {
  /* top: -650px; */
  top: -102%;
  /* left: -1180px; */
  left: -326%;
}

#aboutMe .title ul li h1 {
  font-size: 1.2rem;
}

#aboutMe .title ul li p {
  font-size: 0.68rem;
}

#aboutMe .contactAndInfo ul li,
#aboutMe .contactAndInfo ul a {
  font-size: 0.9rem;
}

#info .info_second_2 {
  display: inline-block;
  font-size: 14px;
}
