* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

#landing_page {
  height: 100vh;
  width: 100vw;
}

#gallery {
  position: relative;
  width: 140rem;
  height: 140rem;
  padding: 10.16px;
  /* border: solid 5px black; */
  border-radius: 50%;
  margin-top: 10%;
  margin-left: -8%;
}

#gallery .gallery_item {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -175.4px 0 0 -124px; /* (height / 2) & (width / 2) */
  width: 248px; /* A4 in pixels is 2480 x 3508 px divide this by 10 */
  height: 350.8px;
  background-color: gray;
  /* box-shadow: 5px 5px 3px #a0a0a0; */
}

#gallery .gallery_item img {
  display: block;
  width: 100%;
  /* width: 0%; */
  height: 100%;
}

.deg0 {
  transform: translate(45rem) rotate(90deg);
} /*45rem = half the width of the wrapper*/
.deg22_5 {
  transform: rotate(22.5deg) translate(45rem) rotate(-22.5deg) rotate(112.5deg);
}
.deg45 {
  transform: rotate(45deg) translate(45rem) rotate(-45deg) rotate(135deg);
}
.deg67_5 {
  transform: rotate(67.5deg) translate(45rem) rotate(-67.5deg) rotate(157.5deg);
}
.deg90 {
  transform: rotate(90deg) translate(45rem) rotate(-90deg) rotate(180deg);
}
.deg112_5 {
  transform: rotate(112.5deg) translate(45rem) rotate(-112.5deg)
    rotate(202.5deg);
}
.deg135 {
  transform: rotate(135deg) translate(45rem) rotate(-135deg) rotate(225deg);
}
.deg157_5 {
  transform: rotate(157.5deg) translate(45rem) rotate(-157.5deg)
    rotate(247.5deg);
}
.deg180 {
  transform: translate(-45rem) rotate(270deg);
}
.deg202_5 {
  transform: rotate(202.5deg) translate(45rem) rotate(-202.5deg)
    rotate(292.5deg);
}
.deg225 {
  transform: rotate(225deg) translate(45rem) rotate(-225deg) rotate(315deg);
}
.deg247_5 {
  transform: rotate(247.5deg) translate(45rem) rotate(-247.5deg)
    rotate(337.5deg);
}
.deg270 {
  transform: rotate(270deg) translate(45rem) rotate(-270deg);
}
.deg292_5 {
  transform: rotate(292.5deg) translate(45rem) rotate(-292.5deg)
    rotate(382.5deg);
}
.deg315 {
  transform: rotate(315deg) translate(45rem) rotate(-315deg) rotate(405deg);
}
/* .deg337_5 {
  transform: rotate(337.5deg) translate(45rem) rotate(-337.5deg)
    rotate(427.5deg);
} */

.deg337_5_part_1 {
  transform: rotate(337.5deg) translate(45rem) rotate(-337.5deg)
    rotate(427.5deg) translate(-62px); /* last translate = - (width / 2) */
  background-image: url('source/img/sample 2.jpg');
  background-size: cover;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -175.4px 0 0 -62px; /* (height / 2) & (width / 2) */
  width: 124px; /* A4 in pixels is 2480 x 3508 px divide this by 8 / 2 */
  height: 350.8px;
  background-color: gray;
  /* box-shadow: 0px 0px 0px #a0a0a0; */
}

.deg337_5_part_2 {
  transform: rotate(337.5deg) translate(45rem) rotate(-337.5deg)
    rotate(427.5deg) translate(62px); /* last translate = width / 2 */
  background-image: url('source/img/sample 2.jpg');
  background-size: cover;
  background-position: -124px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -175.4px 0 0 -62px; /* (height / 2) & (width / 2) */
  width: 124px; /* A4 in pixels is 2480 x 3508 px divide this by 8 / 2 */
  height: 350.8px;
  background-color: gray;
  /* box-shadow: 5px 5px 0px #a0a0a0; */
  z-index: -1;
}

#gallery .title {
  position: absolute;
  top: -15%;
  left: 0%;
  transform: rotate(270deg);
}

#gallery .sub_title {
  position: absolute;
  top: -15%;
  left: 0%;
  transform: rotate(270deg);
}

.btn:hover {
  text-decoration: underline;
}
